   {% block header %}
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,700;1,900&
                family=Poppins:ital,wght@0,200;0,300;0,400;0,
                500;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,
                700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <div class="header">


    <div class="container">
        <div class="navbar">
            <div class="Logo">
                <img src="static/img/sky logo.png" width="90px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="/login">Account</a></li>

                </ul>
            </nav>
            <img src="static/img/shopping cart.png" width="30px" height="30px">
         </div>
      {% endblock %}
