{% extends 'layout.html' %}
{% include 'header.html' %}
{% block body %}


            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
{% if record %}
    <h2 class="lead">>There are {{ record|length }} record in the Products table!</h2>
    <table>
        <tr><th>Product ID</th><th>Product</th><th>Price</th></tr>
        <tr>
            <td><a href="{{ url_for('product_display',id=record['Product_id']) }}">{{ record['Product_id'] }}</a></td>
            <td>{{ record['Product_name'] }} </td>
            <td>{{ record['Price'] }} </td>
        </tr>
    </table>
{% else %}
<h2>No records returned.</h2>
{% endif %}
	<!-- home.html ends here-->
{% endblock %}
